.ListView {
  .Header {
    .Filters {
      display: block;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 2em;
    }
  }
  .Body {
    display: block;
  }
  .Footer {
    display: block;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 2em;
  }
}
